@import "./../../css/variables.scss";

.card {
  margin: 3rem;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    .product-selection {
      position: relative;
      img {
        @include transition(opacity 0.3s ease-in-out);
      }
      .btn {
        &.btn-primary {
          &.add-cart {
            visibility: hidden;
            opacity: 0;
            font-size: 1.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            border: none;
            background-image: linear-gradient($lightBlue, $blue);
            padding: 0.5rem 2.5rem;
            @include transition(visibility 0s, opacity 0.5s linear);
          }
        }
      }
      &:hover {
        img {
          opacity: 0.6;
        }
        .btn {
          &.btn-primary {
            &.add-cart {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
    .product-content {
      p {
        &.card-text {
          margin-bottom: 0;
        }
      }
    }
  }

  .star-rating-wrapper {
	  margin: 1rem auto;
    .star {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background-image: url("./assets/star.svg");
      background-repeat: no-repeat;
      margin-right: 0.3rem;
    }
    &[number-stars="0"] .star,
    &[number-stars="1"] .star:nth-child(n + 2),
    &[number-stars="2"] .star:nth-child(n + 3),
    &[number-stars="3"] .star:nth-child(n + 4),
    &[number-stars="4"] .star:nth-child(n + 5) {
      opacity: 0.3;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin: 2rem;
    .card-body {
      .product-selection {
        .btn {
          &.btn-primary {
            &.add-cart {
              visibility: visible;
              opacity: 1;
              transform: unset;
              top: 0;
              left: 0;
              position: relative;
              margin-top: 1.5rem;
              margin-bottom: 1.5rem;
            }
          }
        }
      }
	}
  }
}

